<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>Formulaire</div>
    <div>
      <form method='POST' action="/form/traitement">
        <label for="nom">Nom</label>
        <input type="text" name="nom" placeholder="Nom" required />
        <button type="submit">Send</button>
      </form>
    </div>
  </body>
</html>
